@import '_reset.scss';
@import '_base.scss';
@import '_variables.scss';

nav{
  background-color: #ec9c39 !important;

  .active{
    color: white !important;
    font-weight: 600;
  }

  .dropdown-menu{
    border: 2px solid $orange;
  }
}

.container{
  min-height: 100vh;
}


.footer {
  box-sizing: border-box;
  height: 60px;
  padding: 20px;
  text-align: center;
  background-color: $orange;
}
