@import '_reset.scss';
@import '_base.scss';
@import '_variables.scss';

nav{
  background-color: #ec9c39 !important;

  .active{
    color: white !important;
    font-weight: 600;
  }

  .dropdown-menu{
    border: 2px solid $orange;
  }
}

.container{
  min-height: 100vh;
}

.Knowledge{
  border: 2px solid black;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

svg {
  border: 1px solid red;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

ol{
  list-style: auto;
}

.Knowledge ul{
  margin-top:1rem !important;
  list-style: disc;
}

ul li{
  margin-top:0.5rem;
}


.footer {
  box-sizing: border-box;
  height: 60px;
  padding: 20px;
  text-align: center;
  background-color: $orange;
}
